* {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  --background: #1b2430;
  --font: #d6d5a8;
  --other1: #51557e;
  --other2: #816797;
}

body {
  background-color: var(--background);
  color: var(--font);
}
